@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #1f2025;
    color: #fff;
}

.navbar {
    padding: 15px 0;
    background-color: #2e3037;
    width: 100%;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar-brand span {
    color: red;
    margin-right: 5px;
}

.movie-card {
    background: #2e3037;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 10px;
    transition: box-shadow 0.3s ease-in-out;
}

.movie-card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 10px;
}

.movie-title {
    font-size: 16px;
    font-weight: 500;
    color: #e0e0e0;
    margin: 8px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: color 0.3s ease-in-out;
}

.movie-card:hover {
    box-shadow: 0px 5px 15px rgba(255, 59, 59, 0.6);
}

.movie-card:hover .movie-title {
    color: #fd6565; /* Red hover effect to match theme */
}

.btn-danger {
    background: #fd6565;
    border: none;
    padding: 8px;
    font-size: 14px;
    transition: background 0.3s ease-in-out;
}

.btn-danger:hover {
    background: #e04e4e;
}

@media (max-width: 1200px) {
    .col-lg-2 {
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (max-width: 992px) {
    .col-lg-2 {
        flex: 0 0 33.333%;
        max-width: 33.333%;
    }
}

@media (max-width: 768px) {
    .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .movie-title {
        font-size: 14px;
    }
}

@media (max-width: 576px) {
    .col-sm-6 {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .movie-title {
        font-size: 12px;
    }
}

/* Footer Styles */
.footer {
    position: absolute;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: 14px;
}
@media (max-width: 768px) {
    .footer {
        font-size: 12px;
        padding: 8px 0;
    }
}


::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #2e3037;
}

::-webkit-scrollbar-thumb {
    background: #fd6565;
    border-radius: 10px;
}