/* payment.css */
body {
    background-color: #121212;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

.navbar {
    padding: 15px 0;
    background-color: #2e3037; /* Dark background to match ticket design */
    width: 100%;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.navbar-brand {
    font-size: 24px;
    font-weight: 600;
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.navbar-brand span {
    color: red;
    margin-right: 5px;
}

/* Main container */
.payment {
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    max-width: 800px;
    margin: auto;
}

/* Combined movie details & billing */
.summary-billing {
    background-color: #222;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.2);
}

h2 {
    color: #ff3b3b;
    font-size: 1.5rem;
    text-align: left;
}

h3 {
    text-align: center;
    color: rgb(146, 200, 248);
    border-bottom: 2px solid #ff3b3b;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

/* Payment form - left aligned */
#payment_form {
    background-color: #222;
    padding: 15px;
    border-radius: 8px;
    margin-top: 20px;
}

.form-label {
    color: aliceblue;
    font-size: 0.9rem;
}

.form-control {
    background-color: #333;
    color: #ffffff;
    border: 1px solid #ff3b3b;
    font-size: 0.9rem;
}

.form-control::placeholder {
    color: #bbb;
}

.btn-danger {
    background-color: #ff3b3b;
    border: none;
    font-size: 1rem;
}

.btn-danger:hover {
    background-color: #ff6b6b;
}

/* Details Formatting */
.detail-box {
    background-color: #2a2a2a;
    color: aliceblue;
    padding: 8px;
    border-radius: 5px;
    margin-bottom: 5px;
    font-size: 0.95rem;
}

/* Footer Styles */
.footer {
    position: absolute;
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    font-size: 14px;
}

@media (max-width: 768px) {
    .footer {
        font-size: 12px;
        padding: 8px 0;
    }
}


/* Responsive */
@media (max-width: 768px) {
    .payment {
        max-width: 100%;
    }
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #2e3037;
}

::-webkit-scrollbar-thumb {
    background: #fd6565;
    border-radius: 10px;
}